/* main color rgb(184, 40, 48) */


.contact {
  background-color: rgba(167, 76, 76, 0.5);
}
.nav {
  background-color: rgb(51, 119, 97);
}

.img-container {
  width: 100%; /* Set the container width */
  height: 0; /* Create a zero-height container to maintain the aspect ratio */
  padding-bottom: 75%; /* Set the padding-bottom to the aspect ratio (e.g., 4:3 aspect ratio) */
  position: relative; /* Enable positioning for absolute child elements */
  overflow: hidden; /* Hide any overflow */
}

.img-container img {
  object-fit: cover; /* Make the image cover the container while maintaining aspect ratio */
  width: 100%; /* Make sure the image takes 100% of the container width */
  height: 100%; /* Make sure the image takes 100% of the container height */
  position: absolute; /* Position the image absolutely within the container */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
}

.pres {
  transition: 0.3s ease;
}

.pres:hover{
  transform: scale(1.04);
  cursor: pointer;
}

.main {
  margin-top: 4%;
  margin-bottom: 10%;
  max-width: fit-content;
  background: url("/assets/main.png") no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-position: center;
}
.main-link {
  border-radius: 40px;
  aspect-ratio: 2;
  margin-top: 3%;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.main-link:hover {
  transform: scale(1.1);
  background-color: rgba(167, 76, 76, 0.5);
  fill-opacity: 0.5;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
  border-radius: 10px;
  background-color: rgba(167, 76, 76, 0.8);
  fill-opacity: 0.5;
}

.list-unstyled li {
  padding: 4%;
}

.list-unstyled a {
  text-decoration: none;
  color: rgb(7, 6, 6);
  transition: 0.3 ease;
}
.list-unstyled a:hover {
  text-decoration: underline;
}
